.App {
  text-align: center;
}

.player-card {
  margin: 10px auto;
  border: red solid 2px;
  width: 200px;
}

button {
  margin: 10px auto;
  height: 30px;
  border-radius: 5px;
  border: blue solid 3px;
  background: white;
  font-size: 20px;
}

.dark-mode {
  background-color: grey;
}

input {
  height: 30px;
  border: black solid 3px;
  font-size: 20px;
}